@model IEnumerable<ProjectProjects.Models.Language>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LanguageUses.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LanguageName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LanguageOverview)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LanguageUses.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LanguageName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LanguageOverview)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
