@model IEnumerable<ProjectProjects.Models.UserStory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Project.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StoryText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Project.ProjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StoryText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserStoryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserStoryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserStoryID })
        </td>
    </tr>
}

</table>
